@page
@model LibOnline.Pages.Books.DelayedModel

@{
    ViewData["Title"] = "Försenade böcker";
}

<h3>Försenade böcker: @Model.Books.Count</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].Borrower)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].ReturnDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Books) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Borrower.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnDate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Redigera</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Detaljvy</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Radera</a>
            </td>
        </tr>
}
    </tbody>
</table>
