@page
@model LibOnline.Pages.Borrowers.DetailsModel

@{
    ViewData["Title"] = "Detaljvy";
}

<h3>@Html.DisplayFor(model => model.Borrower.FullName)</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Borrower.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Borrower.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Borrower.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Borrower.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Borrower.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Borrower.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Borrower.Phone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Borrower.Phone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Borrower.StreetAdress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Borrower.StreetAdress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Borrower.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Borrower.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Borrower.PostalCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Borrower.PostalCode)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Borrower.ID">Ändra</a> |
    <a asp-page="./Index">Listvy</a>
</div>
<hr />
<h4>Lånade böcker</h4>
<ul>
    @foreach (var book in Model.Books)
    {
        <li><a asp-page="/Books/Details" asp-route-id="@book.ID">@book.Title</a></li>
    }
</ul>

